body {
    font-family: Arial, sans-serif;
    background-image: url("../images/background.jpeg");
    background-size: cover;
    color: white;
}
h2 {
    color: yellow;
}

nav {
    background: rgba(0, 0, 0, 0.8);
}

nav a:hover {
    color: lightblue;
}
