body {
    font-family: Arial, sans-serif;
    background-image: url("../images/background.jpeg");
    background-size: cover;
    color: white;
}
 nav { background-color: #333; padding: 10px; text-align: center; }
nav a { color: white; margin: 10px; text-decoration: none; font-size: 18px; }
        section { padding: 20px; border-bottom: 2px solid #ddd; }
h2 {
    color: yellow;
}

nav {
    background: rgba(0, 0, 0, 0.8);
}

nav a:hover {
    color: lightblue;
}
